@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

blockquote cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}

section > header{
	text-align: center;
	hyphens: none;
}

[epub|type~="subchapter"] header{
	font-variant: small-caps;
}

.conclusion{
	font-style: italic;
}

section > header [epub|type~="epigraph"]{
	margin: 3em;
	margin-top: 0;
	text-align: left;
	display: inline-block;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] + p,
[epub|type~="z3998:song"] + p{
	text-indent: 0;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}
